ul{
    margin: 0;
    padding: 0;
}
.footer {
    padding: 10px;
    text-align: center;
     width: 100%;
  background: #fff;
  /* Optional: add a border or shadow for separation */
  border-top: 1px solid #000000;
}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer ul li a{
    color: blueviolet;
    text-decoration: none;
}