html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
     flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
app-header {
  flex-shrink: 0;
}

router-outlet {
  flex: 1 0 auto;
  display: block;
}

app-footer {
  flex-shrink: 0;
}
.error{
    color: red;
    text-align: center;
}
.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid blueviolet;
  padding-left: 15px;
  color: blueviolet;
}
.form-button {
  height: 35px;
  border: 1px solid blueviolet;
  color: blueviolet;
  cursor: pointer;
}
.common-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
.message_p{
    color: green;
}
.carousel-caption {
  background-color: #0000007d;
  border-radius: 10px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: black;
  border-radius: 5px;
}

